<section class="box a1 container ground border height-70">
	<div class="mobile-box a6 container height-70">
		<div onclick="window.location.href='/'" class="box a1 lucida-grande bold icon center">LOGO</div>
	</div>
</section>