<meta charset="utf-8">
<title>ERP JA Rio Militar</title>
<meta name="viewport" content="width=device-width, user-scalable=no">

<!-- framework server -->
<!-- <link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/loader.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/elements.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/visual.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/dropdown.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/sidenav.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/actions.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/size.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/position.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/image.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/box.css">
<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/responsivity.css">

<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/fonts.css"> -->

<!-- Digital ocean -->
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/main.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/loader.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/elements.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/visual.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/dropdown.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/sidenav.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/actions.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/size.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/position.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/image.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/box.css">
<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/responsivity.css">

<link rel="stylesheet" type="text/css" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/fonts.css">

<!-- <script data-ad-client="ca-pub-5079254853156755" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- Local framework -->
<!-- <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/loader.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/elements.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/visual.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/dropdown.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/sidenav.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/actions.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/size.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/position.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/image.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/box.css">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/responsivity.css">

<link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/front-end/stylesheets/fonts.css"> -->