<form id="product-create-form" class="box b2-3 container ground border radius-5 padding-5 margin-top-10">
	<div class="box b1 underline lucida-grande bold center">Cadastrar produto</div>
	<input type="text" name="code" class="box b4 lucida-grande bold border radius-5 padding-5 margin-top-5 center" placeholder="Código" autocomplete="off">
	<input type="text" name="name" class="box b3-4 lucida-grande bold border radius-5 padding-5 margin-top-5 center" placeholder="Nome do produto" autocomplete="off">

	<%- include ("./image-form") %>

	<input type="submit" name="submit" class="box b4 lucida-grande bold box-hover border-lg-st radius-5 padding-5 margin-top-5 center pointer" value="Cadastrar">
</form>