<form id="product-filter-form" class="box b2 container ground border radius-5 padding-5 margin-top-10">
	<div class="box b1 underline lucida-grande bold center">Catálogo de produtos</div>
	<input type="text" name="code" class="box b4 lucida-grande bold border radius-5 padding-5 margin-top-5 center" placeholder="Código" autocomplete="off">
	<input type="text" name="name" class="box b2-3 lucida-grande bold border radius-5 padding-5 margin-top-5 center" placeholder="Código" autocomplete="off">
	<button type="submit" name="submit" class="mobile-box b12 noborder padding-3 margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>

<div id="product-filter-box" class="box b1 container h-center" style="display:none;">
	<div id="product-filter-div" class="box a2 container"></div>
</div>