<style type="text/css">
	.scroll-x { overflow-x: scroll; white-space: nowrap; }
	.remove-icon { 
		display:none;
		position:absolute;
		top:35px;
		left:35px;
	}

	.remove-icon:hover { display: block; }

	.product-image {}
	.product-image:hover + .remove-icon { display: block; }
</style>

<div class="box a1 container">
	<label for="files" class="box b8 container height-125 border-lg-st radius-5 ground center margin-top-5">
		<div class="box b1 center pointer">
			<img src="https://wt-images-cdn.sfo3.digitaloceanspaces.com/erp-images/icon/add-image.png" class="image-prop size-30 center">
			<div class="box b1 lucida-grande em08 center">Adicionar Fotos</div>
		</div>
	</label>

	<div id="product-image-upload-box" class="box b7-8 border padding-5 height-125 scroll-x margin-top-5"></div>

	<input type="file" id="files" name="files" class="box b1 margin-top-5" accept="image/*" multiple hidden>
</div>