<style type="text/css">
	.remove-icon { 
		display:none;
		position:absolute;
		top:50px;
		left:50px;
	}

	.remove-icon:hover { 
		display: block; 
	}

	.product-image {}
	.product-image:hover + .remove-icon { display: block; }
</style>

<div id="product-image-box" class="box b1 container h-center" style="display:none;">
	<div id="product-image-div" class="box a2 border padding-10 margin-top-5 scroll-x"></div>
</div>